[submodule "topological_analysis"]
	path = topological_analysis
	url = https://github.com/chihoon1/topological_analysis.git
[submodule "supervised_learning"]
	path = supervised_learning
	url = git@github.com:chihoon1/supervised_learning.git
[submodule "unsupervised_learning"]
	path = unsupervised_learning
	url = git@github.com:chihoon1/unsupervised_learning.git
